@page "/leaverequests/create/"
<h3>Apply for leave</h3>

<EditForm Model="@Request" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-group">
        <label for="startDate">Start Date</label>
        <InputDate class="form-control" id="startDate" @bind-Value="Request.StartDate" />
        <ValidationMessage For="@(() => Request.StartDate)" />
    </div>
    <div class="form-group">
        <label for="endDate">End Date</label>
        <InputDate class="form-control" id="endDate" @bind-Value="Request.EndDate" />
        <ValidationMessage For="@(() => Request.EndDate)" />
    </div>
    <div class="form-group">
        <label for="leaveType">Leave Type</label>
        <InputSelect class="form-control" id="leaveType" @bind-Value="Request.LeaveType">
            <option>Select Leave Type</option>
            @foreach(var leaveType in leaveTypes)
            {
                <option value="@leaveType.Id">@leaveType.Name</option>
            }
        </InputSelect>
        <ValidationMessage For="@(() => Request.LeaveType)" />
    </div>
    <div class="form-group">
        <label for="comments">Comments</label>
        <InputDate class="form-control" id="comments" @bind-Value="Request.RequestComments" />
        <ValidationMessage For="@(() => Request.RequestComments)" />
    </div>

    <button class="btn btn-success" type="submit">Submit request</button>
</EditForm>

