@page "/leaverequests/details/{id:int}"
<h3>Details</h3>


<div class="alert alert-@ClassName" role="alert">
    <h4 class="alert-heading">@HeadingText</h4>
    <p>
        <strong>Employee name:</strong> @Request.Employee.FirstName @Request.Employee.LastName
    </p>
    <hr />
    <p>
        Date Requested - @Request.DateRequested.ToString("yyyy-MM-dd")
    </p>
</div>


<div>

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Start Date
        </dt>
        <dd class="col-sm-10">
            @Request.StartDate.ToString("yyyy-MM-dd")
        </dd>
        <dt class="col-sm-2">
            End Date
        </dt>
        <dd class="col-sm-10">
            @Request.EndDate.ToString("yyyy-MM-dd")
        </dd>
        <dt class="col-sm-2">
            Leave Type
        </dt>
        <dd class="col-sm-10">
            @Request.LeaveType.Name
        </dd>
        <dt class="col-sm-2">
            Request Comments
        </dt>
        <dd class="col-sm-10">
            @Request.RequestComments
        </dd>
    </dl>
</div>
<div>

    @if (Request.Approved == null)
    {
        <button class="btn btn-success" @onclick="(() => ChangeApproval(true))">
            Approve
        </button>
        <button class="btn btn-danger" @onclick="(() => ChangeApproval(false))">
            Reject
        </button>
    }
    <BackToList Target="leaverequests/" />
   
</div>